.fond{
    width: 100%;
    height: 460px;
    text-align: center;
}

.title{
    font-size: 90%;
    padding: 2em 5em;
}

.flex-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-bottom: 2em;
}

.massalia,.cafe,.peste,.sardine,.canal,.om{
    width: 80%;
    padding: 1em;
    display: flex;
    background-color: rgb(243, 216, 181);
    transition-property: background-color;
    transition-duration: 2s;
}

.massalia:hover,.cafe:hover,.peste:hover,.sardine:hover,.canal:hover,.om:hover{
    background-color: burlywood;
}
.text{
    margin-right: 2em;
}

.img{
    align-self: center;
}

/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
    .fond{
        height: 280px;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
    .fond{
        display: none;
    }
    .massalia,.cafe,.peste,.sardine,.canal,.om{
        display: flex;
        flex-direction: column;
    }
}

