.banner {
    text-align: center;
    width: 100%;
    height: 500px;
}

.intro_plages {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado{
    width: 80%;
    display: flex;
    background-color: #f5f1cf;
    transition-property: background-color;
    transition-duration: 1s;
}

.plage_corbieres:hover,.plage_catalans:hover,.plage_malmousque:hover,.plage_pointerouge:hover,.plage_prophete:hover,.plage_prado:hover {
    background-color: #fadd8c;
}

.description_corbieres,.description_catalans,.description_malmousque,.description_pointerouge,.description_prado,.description_prophete{
    padding: 1em;
}

.img_corbieres img,.img_catalans img,.img_malmousque img,.img_pointerouge img,.img_prophete img,.img_prado img{
    width: 300px;
    height: 200px;
    padding: 1em;
}

.all_plages {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
    .banner {
        height: 300px;
    }

    .plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado {
        flex-direction: column;
    }

    .img_corbieres img,.img_catalans img,.img_malmousque img,.img_pointerouge img,.img_prophete img,.img_prado img{
        width: 100%;
        height: 300px;
        padding: 0px;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
    .banner {
        height: 128px;
    }

    .plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado {
        flex-direction: column;
    }

    .img_corbieres img,.img_catalans img,.img_malmousque img,.img_pointerouge img,.img_prophete img,.img_prado img{
        width: 100%;
        height: 128px;
        padding: 0px;
    }
}